.header img {
  border-radius: 10px;
  /* border: 2px solid #e9a7af; */
}

body {
  color: #564d54 !important;
}

.card a {
  color: #c09daa;
  /* border: 2px solid #acb0d5;
  background-color: #acb0d5;
  padding: 8px; */
  line-height: 1, 5;
  border-radius: 2px;
  font-weight: 700;
}
.card a:hover {
  background-color: white;
  color: #ae9076;
}
.section {
  color: #acb0d5;

  font-size: 38px;
  font-weight: 500 !important;
  line-height: 1, 6;
}
.card {
  border: 1px solid #acb0d5 !important;
}
.card-title {
  color: #c09daa !important;
  font-size: 21px;
  font-weight: 480 !important;
}
.card-text {
  color: #564d54 !important;
  font-weight: 450 !important;
  line-height: 1, 5;
}
.contactBtn {
  background-color: #c09daa !important;
  border: none !important;
  color: white !important;
  font-weight: 900px;
  line-height: 1.5;
}
.contactBtn:hover {
  background-color: aliceblue !important;
  color: #62459e !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link,
.navbar-custom .nav-link .active {
  color: #acb0d5 !important;
  font-size: 18px;
  font-weight: 490;
}

/* nav {
  background-image: linear-gradient(
    to right,
    #79608e,
    #c09daa,
    #db787a,
    #eba490,
    #f4c6a3
  );
} */

.header {
  /* background-image: linear-gradient(
    to bottom right,
    #6ca2ba,
    #1c3168,
    #ae9076,
    #8cd8d2,
    #62459e
  ); */

  color: #4f5462;
}

.header h1 {
  color: #acb0d5 !important;
  font-size: 66px;
}

body {
  line-height: 1, 5;
  font-size: 100px;
  font-weight: 700;
}

footer {
  background-color: white;
  border: none;
  color: #564d54 !important;
}
li {
  display: inline-block;
}
ul {
  margin-left: 0% !important;

  padding-left: 0% !important;
}

.carousel-control-prev-icon {
  border-radius: 50%;
  background-color: #1f3369;
  padding: 13px;
  visibility: hidden;
}
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: #1f3369;
  padding: 13px;
  visibility: hidden;
}

.carousel-indicators button {
  background-color: #62459e !important;
}
.carousel-indicators {
  position: relative;
  margin-top: 10px !important ;
  margin-bottom: 20px !important;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  min-height: 160px;
}
.contact {
  background-image: linear-gradient(
    to bottom right,
    #6ca2ba,
    #1c3168,
    #ae9076,
    #8cd8d2,
    #62459e
  );
}
footer .my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 0px !important;
}

@media (min-width: 989px) {
  .header img {
    width: 300px;
  }
  .carousel-indicators {
    position: relative !important;
    top: 10px !important;
  }
}

@media (max-width: 989px) {
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text,
  .navbar-custom .nav-link,
  .navbar-custom .nav-link .active {
    color: #acb0d5 !important;
    font-size: 16px;
    font-weight: 490;
  }

  .header img {
    width: 390px;
  }
  .header h1 {
    color: #acb0d5 !important;
    font-size: 56px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    position: static !important;
    width: 100%;
    margin-top: 10px;
  }
  .section {
    font-size: 28px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    margin: 0 auto;
    display: block;
  }
}
